<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="XMapSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="XRouteSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="XDimaSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://xserver2-europe-eu-test.cloud.ptvgroup.com/services/ws/XMap/experimental"
                binding="customBinding" bindingConfiguration="XMapSoapBinding"
                contract="xMapWSService.XMap" name="xmap" />
            <endpoint address="https://xserver2-europe-eu-test.cloud.ptvgroup.com/services/ws/XDima/experimental"
                binding="customBinding" bindingConfiguration="XDimaSoapBinding"
                contract="xDimaWSService.XDima" name="xdima" />
            <endpoint address="https://xserver2-europe-eu.cloud.ptvgroup.com:443/services/ws/XRoute/experimental"
                binding="customBinding" bindingConfiguration="XRouteSoapBinding"
                contract="xRouteWSService.XRoute" name="xroute" />
        </client>
    </system.serviceModel>
</configuration>